*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

.container {
	max-width: 1200px;
	padding: 0 30px;
}

.boxes {
	margin-top: 50px;
}

.box {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.red {
	background-color: red;
}
.orange {
	background-color: orange;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
}
.skyblue {
	background-color: skyblue;
}
