@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.coffee-regions__header {
	background-image: url('../assets/images/coffee-bgnd.jpeg');
	background-position: center, top;
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	margin-bottom: 40px;
}

.coffee-regions {
	background-image: url('../assets/images/coffee-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.coffee-regions__title {
	font-size: 80px;
	font-family: 'Covered By Your Grace', cursive;
	font-weight: 400;
	color: rgba(3, 155, 100, 0.75);
	text-align: center;
	padding-top: 100px;
}

.coffee-regions__body {
	padding: 25px 0;
}

.coffee-regions__table {
	width: 100%;
	border-collapse: collapse;
}

.coffee-regions__cell {
	width: 50%;
	vertical-align: top;
	padding: 16px;
	height: 600px;
}

.coffee-card {
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 600px;
	color: white;
}

.coffee-card__title {
	font-weight: 900;
	text-align: center;
	font-size: 60px;
	margin-bottom: 35px;
}

.coffee-card__descr {
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: white;
	text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
	margin-bottom: 80px;
	padding: 0 30px;
}

.coffee-card__link {
	color: #fff;
	text-decoration: none;
	text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
	font-size: 20px;
	font-weight: 600;
	display: block;
	width: 300px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #fff;
	padding: 8px 16px;
	border-radius: 8px;
}

.coffee-card__link:hover {
	opacity: 0.7;
}

.coffee-card--brazil {
	background-image: url('../assets/images/brazil-coffee.jpg');
}

.coffee-card--colombia {
	background-image: url('../assets/images/colombia-coffee.jpg');
}

.coffee-card--india {
	background-image: url('../assets/images/india-coffee.jpg');
}

.coffee-card--ethiopia {
	background-image: url('../assets/images/ethiopia-coffee.jpg');
}

.coffee-card--costa-rica {
	background-image: url('../assets/images/costa-rica-coffee.jpg');
}

.coffee-card--kenya {
	background-image: url('../assets/images/kenya-coffee.jpg');
}
